@import url('https://fonts.googleapis.com/css?family=Dosis:300,400');

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
    color: white;
    background: rgb(73,0,221); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(73,0,221,1) 0%, rgba(120,56,216,1) 100%) no-repeat;/* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(73,0,221,1) 0%,rgba(120,56,216,1) 100%) no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(73,0,221,1) 0%,rgba(120,56,216,1) 100%) no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4900dd', endColorstr='#7838d8',GradientType=1 ) no-repeat; /* IE6-9 fallback on horizontal gradient */
    min-width: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    min-height: 100%;
    transition: all 1s ease;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    color: #b81fc6;
    text-decoration: none;   
    transition: ease 150ms background-color, 150ms color;
}

a:hover {
    color: #b81fc6;
    text-decoration: none;
    transition: ease 150ms background-color, 150ms color;
}

footer {
    
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
}

footer a {
    color: rgb(73,0,221); /* Old browsers */
    color: -moz-linear-gradient(-45deg, rgba(73,0,221,1) 0%, rgba(120,56,216,1) 100%); /* FF3.6-15 */
    color: -webkit-linear-gradient(-45deg, rgba(73,0,221,1) 0%,rgba(120,56,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(135deg, rgba(73,0,221,1) 0%,rgba(120,56,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4900dd', endColorstr='#7838d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*******************************************************************************
Custom Element Styles
*******************************************************************************/

body {
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 4s ease-in;
  opacity: 0.7;
}

#welcome-header {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 74px;
    margin-top: 20%;
    font-weight: 300;
}

#discord-button {
    
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    width: fit-content;
    border: none;
    border-radius: 3px;
    color: white;
}

#discord-button:hover {
  color: white;
  background-color: #b81fc6;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: opacity 5s ease-in;
  -moz-transition: opacity 5s ease-in;
  -ms-transition: opacity 5s ease-in;
  -o-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in
}

#tac-body {
  margin: 50px;
  line-height: 28px;
  font-size: 25px;
}

#tac-body h1 {
  font-size: 45px;
  line-height: 40px;
  margin: 30px;
}

#tac-body h2 {
  font-size: 35px;
  line-height: 40px;
  margin: 30px;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}